<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <form action="/" method="POST">
                    <input type="submit" name="take" value="Take">
                    <input type="submit" name="track" value="Track">
                    <input type="submit" name="stop" value="Stop">
                </form>
                <img src="{{ url_for('video_feed') }}" width="100%">
            </div>
        </div>
    </div>
</body>